<!DOCTYPE html>
<html>

<head>

<title>Login - AI Career Platform</title>

<link rel="stylesheet" href="/static/css/login.css">
</head>

<body>

<div class="container">

<div class="left">

<img src="https://cdn-icons-png.flaticon.com/512/4712/4712109.png">

</div>

<div class="right">

<h2>Login to AI Career Platform</h2>

<form action="/login" method="POST">

<input type="text" name="username" placeholder="Enter Username" required>

<input type="password" name="password" placeholder="Enter Password" required>

<button type="submit">Login</button>

</form>

<a href="/signup">Create Account</a>

</div>

</div>

</body>

</html>